<div id='main_menu'>
  <%= link_to "Load an Existing Account", new_session_path, remote: true, id: 'main_menu_login', class: 'button' %>
  <%= link_to "Create a New Account", new_user_path, remote: true, id: 'main_menu_create', class: 'button' %>
  <%= link_to "About GameBoy Opus", about_path, remote: true, id: 'main_menu_about', class: 'button' %>
</div>