<div id='help'>
  <h3>How to play:</h3>

  <p class='help-text'>The goal of this game is to have a good time!<br>
  While you're at it, try to fill the gray solution area with the clickable blocks provided.</p><br>

  <table id='instructions'>
    <caption>CONTROLS</caption>
    <tr>
      <td>Click on a block:</td>
      <td>Select block</td>
    </tr>
    <tr>
      <td>Arrow keys:</td>
      <td>Move selected block up/down/left/right</td>
    </tr>
    <tr>
      <td>Space bar:</td>
      <td>Rotate selected block 90 degrees</td>
    </tr>
    <tr>
      <td>F key:</td>
      <td>Flip selected block (mirror image)</td>
    </tr>
    <tr>
      <td>Return key:</td>
      <td>Deselect selected block</td>
    </tr>
    <tr>
      <td>Click anything else:</td>
      <td>Deselect selected block</td>
    </tr>
  </table>
</div>