<div id='status-bar'>
  <%= link_to 'OPUS', root_path, id: 'status-title' %>
  <p id='current_time'>Time: <span id='current_seconds'>0</span> secs</p> 
  <p id='fastest_time'>Best: <%= current_user.best_score(@level) %></p> 
  <%= link_to 'Help!', '#', id: 'help-button' %>
</div>
<h1 id='level_number'>Level <%= @level.level_number %></h1>
<div id='solution_text'></div>
<div id='blocks_text'></div>