#status-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 33px;
  width: 100%;
  background-color: #222200;
  font-size: 14pt;
  line-height: 30px;
  vertical-align: middle;
}

#main #status-bar p, #status-bar a {
  color: #476200;
  text-decoration: none;
  margin: 0 30px;
  width: auto;
  display: inline;
  float: left;
}

#status-bar a {
  font-weight: bolder;
}

#status-bar a:hover {
  color: #678200;
}

#main #status-bar #help-button {
  float: right;
}

#level_number, #solution_text, #blocks_text, #next_level_link {
  position: absolute;
  text-align: center;
  left: 1%;
  right: 1%;
}

#level_number {
  top: 10px;
}

#solution_text h3 {
  margin: 10px;
  padding: 0;
}

#next_level_link {
  bottom: 20px;
  z-index: 20;
  display: none;
}

#score_form {
  display: none;
}

.object {
  border-spacing: 0;
  position: relative;
  top: 31px;
  left: 31px;
}

.object td {
  height: 28px;
  width: 28px;
}

.game-block {
  z-index: 2;
  position: absolute;
}

.game-block .filled {
  background: gray;
  box-shadow: inset 1px 1px #000,
              inset -1px -1px #000,
              inset -1px 1px #000,
              inset 1px -1px #000;
}

.active .filled {
  box-shadow: 1px 1px 40px #222;
}

#solution .filled {
  background: #222200;
  box-shadow: inset 1px 1px #476200,
              inset -1px -1px #476200;
}

#solution {
  top: 1px;
  left: 211px;
  z-index: 1;
  position: absolute;
}

#game-grid {
  position: absolute;
  top: 60px;
  left: 100px;
  border-spacing: 0;
  border: 1px solid #999;
  z-index: -20;
}

.grid-cell {
  padding: 0;
  height: 28px;
  width: 28px;
  border: 1px solid #999;
}

.game-block.active .filled.fit {
  background-color: #FFF !important;
}

.game-block.active .filled.overlap {
  background-color: red !important;
}