#status-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 33px;
  width: 100%;
  background-color: #222200;
  font-size: 14pt;
  line-height: 30px;
  vertical-align: middle;
  z-index: 41;
}

#main #status-bar p, #status-bar a {
  color: #476200;
  text-decoration: none;
  margin: 0 20px;
  width: auto;
  display: inline;
  float: left;
}

#help {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222200;
  color: #476200;
  z-index: 40;
}

.help-text {
  font-size: 14pt;
}

#instructions {
  margin: 0 auto;
  border: 1px solid #476200;
  font-size: 14pt;
  padding: 10px;
}

#instructions caption {
  background-color: #476200;
  color: #222200;
  font-weight: bolder;
}

#instructions td:nth-child(odd) {
  text-align: right;
  font-weight: bold;
}

#instructions td:nth-child(even) {
  padding-left: 10px;
}

#help h3 {
  margin-top: 50px;
  text-align: center;
}

#status-bar a {
  font-weight: bolder;
}

#status-bar a:hover {
  color: #678200;
}

#main #status-bar #help-button {
  float: right;
}

#level_number, #solution_text, #blocks_text, #next_level_link {
  position: absolute;
  text-align: center;
  left: 1%;
  right: 1%;
}

#level_number {
  top: 10px;
}

#solution_text h3 {
  margin: 10px;
  padding: 0;
}

#next_level_link {
  bottom: 20px;
  z-index: 20;
  display: none;
}

#score_form {
  display: none;
}

.object {
  border-spacing: 0;
  position: relative;
  top: 31px;
  left: 31px;
}

.object td {
  height: 28px;
  width: 28px;
}

.game-block {
  z-index: 2;
  position: absolute;
}

.game-block .filled {
  background: gray;
  box-shadow: inset 1px 1px #000,
              inset -1px -1px #000,
              inset -1px 1px #000,
              inset 1px -1px #000;
}

.active .filled {
  box-shadow: 1px 1px 40px #222;
}

#solution .filled {
  background: #222200;
  box-shadow: inset 1px 1px #476200,
              inset -1px -1px #476200;
}

#solution {
  z-index: 1;
  position: absolute;
}

.game-block.active .filled.fit {
  background-color: #FFF !important;
}

.game-block.active .filled.overlap {
  background-color: red !important;
}