#level_number, #solution_text, #blocks_text {
  position: absolute;
  text-align: center;
  left: 1%;
  right: 1%;
}

#level_number {
  top: 10px;
}

#solution_text h3 {
  margin: 10px;
  padding: 0;
}

.object {
  border-spacing: 0;
  position: relative;
  top: 31px;
  left: 31px;
}

.object td {
  height: 28px;
  width: 28px;
}

.game-block {
  z-index: 2;
  position: absolute;
}

.game-block .filled {
  background: gray;
}

#solution .filled {
  background: #000;
}

#solution {
  top: 1px;
  left: 211px;
  z-index: 1;
  position: absolute;
}

#game-grid {
  position: absolute;
  top: 60px;
  left: 100px;
  border-spacing: 0;
  border: 1px solid #999;
  z-index: -20;
}

.grid-cell {
  padding: 0;
  height: 28px;
  width: 28px;
  border: 1px solid #999;
}

.game-block.active .filled.fit {
  background-color: #FFF !important;
}